body{
    text-align: center;
    font-family: "Arial";
    color:blueviolet;
    background-color:aliceblue;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid royalblue;
    margin: 0 auto;
    border-radius: 1em;
}
#container h1{
    font-size: 20px;

}
#container p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}
#cabecera{
    background: royalblue;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline{
    margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;

}